# Configuración de Stripe
STRIPE_API_KEY=sk_test_tu_llave_aqui

# Configuración de Google Auth
GOOGLE_CLIENT_ID=tu_client_id_aqui.apps.googleusercontent.com

# Notificaciones de Telegram
TELEGRAM_BOT_TOKEN=tu_token_aqui
TELEGRAM_CHAT_ID=tu_chat_id_aqui

# Seguridad
JWT_SECRET_KEY=cambiame_por_algo_muy_seguro
DATABASE_URL=postgresql://usuario:password@localhost:5432/hielito_db